{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Create/Update post {% endblock title %}

{% block content %} 
    <h1> 
        {% if 'add' in request.path|slice:'-7:' %}
            Create Post
        {% else %}
            Update post
        {% endif %}
    </h1>
    <form action="" method="POST">
        {% for field in form %}
            <div class="row">
                {{ field|as_crispy_field }}
            </div>
        {% endfor %}
        {% csrf_token %}
        <p> <input type="submit" 
            value="{% if 'add' in request.path|slice:'-7:' %}Create Post{% else %}Update post{% endif %}" 
            class="btn btn-primary"> </p>
    </form>
{% endblock content %}